<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <label>Mail</label>
        <input type="email" name="email">
        <button type="submit">Gönder</button>
    </form>


</body>
</html>