@model ForgotPasswordModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Reset Password</title>
</head>
<body>
    @if (ViewBag.Message == null)
    {
        
        <form asp-action="ResetPassword" asp-controller="Account" method="post">
        <div asp-validation-summary="All" style="color:red"></div>
        <label>New Password</label>
        <input  name="password">
        <input type="hidden" asp-for="Token">
        <input type="hidden" asp-for="Email" >
        <input type="hidden" asp-for="UserId">
        
        <button type="submit">Gönder</button>
    
        </form>
    }else
        {
            
            <h1> @ViewBag.Message</h1>
        }



</body>
</html>